/* HEX and RGB colors from adobe Kuler
*/

body {
   background-color: #363636; /* Mine Shaft */
  }

p  {
   background-color: #F2EFDC; /* Ecru White */
}

  
h1, h2, h3 { 
   background-color: #037E8C; /* Blue Lagoon */
  }

 
 ul > li {
   background-color: rgb(231,76,48); /* Cinnabar */
}